
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zone 7 Digital Vouchers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,500|Dosis:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- END nav -->
   

    <div id="blog" class="site-section">
        <div class="container">
            <h3>Go Cart</h3>
            <br />
            <div class="row">
                <div class="col-md-8">

                    <label for="Searchbar">Enter Voucher Code (Search)</label>
                    <input type="text" class="form-control" id="Searchbar">

                    <label for="Names">Name and Surname</label>
                    <input type="text" class="form-control" id="Names">


                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email" required>


                    <label for="Contact">Contact No</label>
                    <input type="text" class="form-control" id="Contact" required>


                    <label for="NoOfRides">No of Rides</label>
                    <input type="number" class="form-control" id="NoOfRides" required>

                    <label for="DateTime">Date</label>
                    <input type="date" class="form-control" id="DateTime">

                    <label for="NoOfPeople">No of People</label>
                    <input type="number" class="form-control" id="NoOfPeople">


                    <label for="OccasionId">Occasion</label>
                    <select id="OccasionId" class="form-control" name="OccasionId">
                        <option value="WeekDay">Week Day</option>
                        <option value="Weekend">Weekend</option>
                    </select>

                    <label for="AgeGroupId">Age Group</label>
                    <select id="AgeGroupId" class="form-control" name="AgeGroupId">
                        <option value="Youth">Under 12</option>
                        <option value="Elder">Adults</option>
                    </select>

                    <br />
                    <input type="button" id="Request" class="form-control" onclick="GenerateVoucher()" value="Generate" name="Request">

                </div> <!-- .col-md-8 -->
                    <div class="col-md-4 sidebar">
                        <div class="sidebar-box">
                            <form action="#" class="search-form">
                                <div class="form-group">
                                    <span class="icon fa fa-search"></span>
                                    @*<input type="text" class="form-control" placeholder="Type a keyword and hit enter">*@
                                </div>
                            </form>
                        </div>
                        <div class="sidebar-box">
                            <div class="categories">

                                <input type="text" class="form-control" id="Searchbar">
                                <li><a href="#" onclick="OnROB()">Riding own Bike <span>(10)</span></a></li>
                                <li><a href="#" onclick="OnGocart()">Gokart Rental <span>(30)</span></a></li>
                                <li><a href="#">Quad Rental <span>(18)</span></a></li>
                            </div>
                        </div>

                    </div>
                </div>

        </div>
    </div>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>

    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        function OnROB()
        {
            window.location.href = "/Home/GetEdit?Id=" + "ROB";
        }
        function OnGocart() {
            window.location.href = "/Home/GetEdit?Id=" + "Gocart";
        }

        function myFunction()
        {

        }
        function GenerateVoucher() {

            var NamesId = document.getElementById("Names").value;


            var Email = document.getElementById("Email").value;
            var Contact = document.getElementById("Contact").value;
            var NoOfRides = document.getElementById("NoOfRides").value;
            var NoOfPeople = document.getElementById("NoOfPeople").value;

            var e = document.getElementById("AgeGroupId");
            var AgeGroupValue = e.options[e.selectedIndex].value;
            var numberofplates = 0;
            var ee = document.getElementById("OccasionId");
            var OccasionIdValue = ee.options[ee.selectedIndex].value;

            var DateTime = document.getElementById("DateTime").value;
            

            var MyIdInfo = NamesId + "," + Email + "," + Contact + "," + NoOfRides + "," + NoOfPeople
                + "," + AgeGroupValue + "," + OccasionIdValue + "," + DateTime + "," + "GoCart" + "";

            if (Email == "") {

                alert("Please enter Email");
                return;
            }

            if (Contact == "") {

                alert("Please enter phone no.");
                return;
            }

            if (NoOfRides == "") {

                alert("Please enter No Of Rides");
                return;
            }

            window.location.href = "/Home/SavePayments?PeopleId=" + MyIdInfo;

        }
    </script>

</body>
</html>