
<h2>Voucher Generated</h2>
@*<iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame"
        src="~/Uploads/@ViewBag.PDFVoucher" frameborder="1" scrolling="auto" height="500" width="850"></iframe>*@


<a href="~/Uploads/@ViewBag.PDFVoucher">@ViewBag.PDFVoucher</a>